/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --bg-color: #FF0070;
  --text-color: #F1B2CE;
  --color-line: #F1B2CE;
  --title-decor-color: #000028;
  --button-color: #FF0070;
  --outline-color: #FF007066;
  --page-bg-color:#000028;
  --page-bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .decor-label {
  display: flex;
}