/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-width: 355px;
  color: var(--title-decor-color);
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.3;
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-self: center;
  width: 100%;
  min-width: 375px;
  height: 100vh;
  min-height: 668px;
  padding: var(--decoration-gap) 0;
  font-family: inherit;

}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin: auto var(--decoration-gap);
}

.header__theme-menu-button {
  border: none;
  padding: 4px 13px;
  color: var(--button-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  background-color: inherit;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  outline: 1px solid var(--outline-color);
}

.header__theme-menu-button:focus {
  outline: none;
}



.decor-label {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  align-items: center;
  gap: 10px;

}

.decor-label::before {
  content: "REC";
  color: #FF0070;
  font-weight: 400;
  font-size: 18px;

}

.decor-label::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
  background-color: #FF0070;
}


.header-footer-title {
  margin-left: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0px var(--bg-color);

}

.title-decor {

  align-self: center;
  margin: var(--decoration-gap);
  color: var(--title-decor-color);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--bg-color);
}



.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--decoration-gap);
  right: var(--decoration-gap);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--decoration-gap);
  left: var(--decoration-gap);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.main {
  margin-right: var(--decoration-gap);
  margin-left: var(--decoration-gap);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;

}

.section_wha {
  margin-top: 50px;
}



.title-card {

  color: var(--title-decor-color);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--bg-color);

}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link:hover {  
  border-bottom: 1px solid var(--color-line);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--color-line);
}

.title_card__item {
  color: var(--decor-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;

}

.advice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

}

.card-item_text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin-top: 10px;
}

.section_wh {
  margin-top: 48px;
}

.card_item {
  margin: 20px 0 10px 0;  
  font-weight: 400;  
}



.advice_title__item {
  margin: 20px 0;
}


.section_gallery {
  margin-top: 50px;
}

.gallery {
  display: grid;
  gap: var(--decoration-gap);
}

.title-card_item {
  margin-bottom: 10px;

}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.footer_title {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100%;
  margin-top: 40px;
}

@media (width >=768px) {
  .header {
    min-height: 1024px;
  }

  .header-footer-title {
    margin-left: 0px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decor-label {
    top: 20px;
    right: 29px;
  }

  .title-decor {
    display: grid;
    grid-template-columns: 2fr 1fr;
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: calc(50% - 20px);
  }

   .section_why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'title_card__item title-card__text';
    gap: 20px;
  }

  .title_card__item {
    margin-top: 20px;
  }

  .title_card__wha {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'itle_card__wha title-card__text';
    gap: 20px;
    width: 30%;
  }

  .section_wha {
    margin-top: 60px;
  }

  .section_wh {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'title_card__wh title-card__text';
    gap: 20px;
    margin-top: 60px;
  }

  .advice_title__item {
    width: 100%;
  }

  .section_gallery {
    margin-top: 79px;
  }

  .gallery {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 20px;
  }

  .sunset__image {
    grid-column: 1 / 3;
  }

  .ice-cream__image {
    grid-column: 3 / 4;
    grid-row: 1 / 3
  }

  .tape__image {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books__image {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

  }

  .street__image {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    min-height: 1024px;
    margin-top: 60px;
  }

  .footer_title {    
    justify-self: center;
  }


}

@media (width >=1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    height: 100%;
    justify-self: center;

  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .section_why {
    gap: 10px;
  }

  .title_card__wha {
    width: 100%;
  }

  .advice_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .section_wh {
    gap: 10px;
  }

  .footer {
    min-height: 768px;
    height: 100vh;
  }

}